@import "react-alice-carousel/lib/scss/alice-carousel.scss";
.Testimonials{
    position: relative;
    &__top{
       width: 50%;
       text-align: center;
       margin-left: auto;
       margin-right: auto; 
    }

    .alice-carousel__stage-item {
        margin-left: 20px !important;
    }

    &__cards{
        margin-top: 50px;
    }
}